@keyframes slide-rotate-hor-b-fwd {
    0% {
        transform: translateY(0) translateZ(0) rotateX(0deg);
        transform-origin: top center;
    }

    100% {
        transform: translateY(150px) translateZ(130px) rotateX(90deg);
        transform-origin: top center;
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

@property --percent {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@keyframes progress {
    from {
        --percent: 0%
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes shine {
    0% {
        color: var(--text-color);
        /* color:rgb(33, 96, 104); */
        text-shadow: none;
    }

    100% {
        color: var(--highlight-color);

        text-shadow: 0 0 0.6rem var(--photo-border-color), 0 0 1.5rem var(--photo-border-glow-color),
            -0.2rem 0.1rem 1rem var(--photo-border-glow-color), 0.2rem 0.1rem 1rem var(--photo-border-glow-color),
            0 -0.5rem 2rem var(--highlight-color), 0 0.5rem 3rem var(--highlight-color);
    }
}