* {
    padding: 0;
    box-sizing: border-box;
}

:root * {
    transition: color, background-color 250ms linear;
}

:root {
    --bg: rgb(36, 36, 36);
    --text-color: white;
    --sub-text-color: rgba(255, 255, 255, 0.8);
    --window-color: rgb(90, 90, 90);
    --page-color: rgb(113, 113, 113);
    --highlight-color: rgb(83, 253, 112);
    --photo-border-color: rgb(44, 243, 87);
    --photo-border-glow-color: rgba(0, 255, 0, 0.6);
}

/* Light Theme */
.light {
    --bg: white;
    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        2px 2px,
        2px 2px,
        30px 30px,
        30px 30px,
        30px 30px,
        30px 30px,
        30px 30px,
        30px 30px;
    --sub-text-color: rgb(36, 36, 3, 0.8);
    --text-color: rgb(36, 36, 36);
    --window-color: rgb(240, 240, 240);
    --page-color: rgb(225, 225, 225);
    --highlight-color: rgb(206, 35, 129);
    --photo-border-color: #e8188a;
    --photo-border-glow-color: rgba(255, 71, 141, 0.6);
}

p {
    color: var(--text-color);
    -webkit-user-select: none;
    user-select: none;
    letter-spacing: 0.09rem;
}

span,
li {
    -webkit-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Cabin", "Noto Sans TC", sans-serif;
}

section {
    padding: .75rem;
    width: 100%;
}

main {
    padding: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.title {
    font-size: 1.75rem;
    word-wrap: normal;
    word-break: keep-all;
    font-weight: 600;
    line-height: 0px;
    transition: 0.3s;
}

.page {
    opacity: 0.95;
    padding: .15rem;
    padding-left: 16px;
    padding-right: 3em;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--page-color);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.quote,
.education {
    transition: transform 0.3s ease-in-out;

}

.quote:hover,
.education:hover {
    transform: scale(1.03);

    .page {
        box-shadow: 8px 0px 4px -4px rgb(0 0 0 / 0.3);
        opacity: 1;
    }

    .window {
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.3), 0 8px 10px -6px rgb(0 0 0 / 0.3);
    }
}

.window {
    transition: 0.3s;
    padding: 8px;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    word-wrap: break-word;
    text-overflow: ellipsis;
    word-spacing: normal;
    word-break: break-word;
    background-color: var(--window-color);
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

#about {
    margin-block: 22vh;
}

.about {
    display: flex;
    align-items: center;
}

.info-box {
    margin: 6px;
    margin-left: 0px;
    height: 100%;
    flex-grow: 1;
    /* width: max(34%, 226.76px); */
}

#right {
    margin-left: 6px;
    margin-right: 0px;
    display: flex;
    gap: 0.711rem;
    flex-direction: column;
}


#skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.skills,
.experiences {
    width: 100%;
    display: flex;
    flex-direction: column;

    .window {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

ul.skill-slider {
    list-style-type: none;
    display: flex;
    justify-content: start;
    gap: 24px;
    margin-block: 8px;
    max-width: 28.5rem;
}

.progress-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.subtitle {
    text-align: center;
    margin: 12px;
}

.skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    padding-bottom: 32px;

    .title {
        margin: 24px;
    }
}

.skills-section:hover .title {
    font-size: 30px;
    color: var(--highlight-color);
}

.circle {
    transition: 0.3s;
    position: relative;
    flex-grow: 1;
    width: 120px;
    height: 120px;
    margin: 0.5rem;
    z-index: 2;
    margin-block: 0.45rem;
    border-radius: 50%;
    overflow: hidden;
    background-image: conic-gradient(var(--photo-border-color) var(--percent), var(--text-color) 0);
}

.circle:hover {
    animation: progress 1s ease-in, pulsate-fwd 0.5s ease-in-out both;

    +p {
        font-weight: 800;
        color: var(--highlight-color);
    }

    .inner>p {
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        visibility: visible;
    }

    .progress-icon {
        animation: slide-rotate-hor-b-fwd 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
}

.circle .progress-icon {
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    position: relative;
    color: var(--highlight-color);
    z-index: 1;
}

.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background: var(--window-color);
    border-radius: 50%;
    color: var(--text-color);

    >p {
        font-size: 36px;
        transition: 1ms;
        position: relative;
        visibility: hidden;
    }

    #small {
        font-size: 18px;
        top: 5px;
    }
}

.progress-container {
    display: flex;
    width: 28.5rem;
    align-items: center;
    overflow: hidden;

    .progress-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
    }

    .info-name {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 18px;

        .subtitle {
            margin: 0;
            margin-left: 8px;
        }
    }

    .progress-icon {
        height: 1.5rem;
        width: 1.5rem;
        color: var(--highlight-color);
    }

    .percent {
        transition: all 0.3s;
        align-items: center;
        display: flex;
        margin: 0;
        color: var(--text-color);
    }
}

.progress-outline-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 16px;
    background-color: var(--text-color);
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    width: var(--percent);
    height: 100%;
    background-color: var(--highlight-color);
    border-radius: 5px;
    transition: width 0.3s ease;
}

.progress-container:hover {
    animation: pulsate-fwd 0.5s ease-in-out both;

    .progress-bar {
        animation: progress 1s ease-in;
    }

    .percent {
        font-size: 24px;
    }

    .subtitle {
        font-weight: bold;
        color: var(--highlight-color);
    }
}

#experience-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 14px;
    margin: 4px;
}

#experience-menu p.btn {
    font-size: 20px;
    text-shadow: 2px 2px 2px var(--bg);
    line-height: 0.8rem;
    margin-inline: 8px;
}

#experience-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;


    &.selected {
        >p.btn {
            color: var(--highlight-color);
        }

        #experience-menu-icon {
            color: var(--highlight-color)
        }
    }

    #experience-menu-icon {
        height: 24px;
        margin-inline-end: 6px;
        color: var(--text-color)
    }
}

#experience-menu li:hover {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    >p.btn {
        color: var(--highlight-color);
    }

    #experience-menu-icon {
        color: var(--highlight-color)
    }
}

.self {
    transition: transform 0.3s ease-in-out;
    padding: 8px;
    background-color: var(--window-color);
    border-radius: 32px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portrait {
    background-image: url("../img/portrait.jpg");
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    border-radius: 50%;
}

.border {
    flex-shrink: 1;
    padding: 4px;
    border: 4px solid;
    border-color: var(--photo-border-color);
    border-radius: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.contact {
    margin: .2rem;
    text-align: center;
    justify-content: center;
}

p.contact {
    font-size: 1.5rem;
}

#eng-name {
    font-size: 0.8em;
    font-style: italic;
    opacity: 0.95;
}

#contacts {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 2px;
    min-width: 180px;
    line-height: 32px;
}


#contacts svg {
    font-size: large;
    margin-inline: 8px;
    height: 20px;
    width: 20px;
}

#contacts li {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contacts a {
    font-size: 13px;
    text-decoration: none;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    display: flex;
}

#contacts a:hover {
    font-size: 13.5px;
    transition: 0.3s;
    color: var(--highlight-color);
}

.self:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.3), 0 8px 10px -6px rgb(0 0 0 / 0.3);
    transform: scale(1.03);

    .portrait {
        height: 10.3rem;
        width: 10.3rem;
        transition: 0.3s;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 25px 0px var(--photo-border-glow-color);
        -moz-box-shadow: 0px 0px 25px 0px var(--photo-border-glow-color);
        box-shadow: 0px 0px 25px 0px var(--photo-border-glow-color);
    }
}

p.quote:hover {
    transition: 100ms;
    font-weight: 600;
    font-size: 17px;
    color: var(--highlight-color)
}

body:not(.light) p.quote:hover {
    animation: shine 3s infinite;
}

.quote .window,
.education .window {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    margin-left: 12px;
    margin-right: auto;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid var(--page-color);
    font-size: 1.125rem;
}

.timeline-item {
    width: auto;
    list-style: none;
    color: var(--text-color);
    line-height: 19px;
    margin-top: -12px;
    margin-left: 16px;

    &+* {
        margin-top: 18px;
    }
}

ol li {
    position: relative;
}

ol li.timeline-item :before {
    content: "";
    position: absolute;
    top: 1em;
    left: -25px;
    margin-top: -.9em;
    background: var(--text-color);
    height: 14px;
    width: 14px;
    border-radius: 100%;
}

.main-text {
    font-weight: bold;
    color: var(--text-color);
}

.timeline-item:hover .main-text {
    transition: 0.4s;
    color: var(--highlight-color);
    font-size: 19px;
}

.sub-text {
    color: var(--sub-text-color);
    font-style: italic;
    font-size: small;
}

nav {
    margin-block: 10vh;
    padding: 8px;
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.nav-reveal {
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);

}

#menu {
    width: 648px;
    overflow: hidden;
    display: flex;
    margin: 10px auto;
    padding: 0;
    list-style: none;
}

#menu li {
    width: 258px;
    height: 30px;
    line-height: 26px;
    float: right;
    overflow: hidden;
    text-align: center;
    box-shadow: 4px 4px 4px -4px var(--highlight-color);
}

#menu a {
    width: 100%;
    height: 32px;
    color: var(--text-color);
    float: left;
    overflow: hidden;
    text-decoration: none;
    font-size: 30px;
    font-weight: lighter;
}

#menu a:hover {
    opacity: 0.7;
}

.tab {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: text 0.3s ease-in-out;
}

.experiences ul.exp-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 32px;
    width: 34.6rem;
}

.hr>li {
    position: relative;
    padding-bottom: 16px;
}

.hr>li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    border-bottom: 1px solid var(--text-color);
}

#works-list {
    list-style: square;
}

#works-list .position {
    font-size: 23px;
    color: var(--highlight-color);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

#works-list .company {
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 0.06rem;
    /* justify-content: end; */
}

#works-list svg {
    height: 18px;
    position: relative;
    top: 4px;
    margin-inline: 4px;
}

#works-list .date {
    font-size: 1rem;
    font-style: italic;
}

.description {
    letter-spacing: 0.03rem;
    color: var(--sub-text-color);
}

#works-list .description {
    list-style: inside;
    font-size: 1rem;
}

.tag {
    margin-block: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.tag li {
    font-size: 0.95rem;
    margin-block: 4px;
    margin-inline: 2px;
    padding-inline: 12px;
    border-radius: 15px;
    border-color: var(--sub-text-color);
    border-width: 0.1rem;
    border-style: solid;
    background-color: var(--photo-border-glow-color);
}

.links {
    margin-block: 8px;
    list-style: none;
}

.links li+li {
    margin-top: 8px;
}

.link {
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
    background-color: var(--page-color);
    padding-inline: 16px;
    text-decoration-line: unset;
    color: var(--text-color);

    .link-name {
        padding-left: 8px;
    }
}

.link:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.link-icon {
    vertical-align: middle;
    text-align: center;
    height: 24px;
    aspect-ratio: 1/1;
}

.img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-block: 16px;
    overflow: hidden;
    border-radius: 15px;
}

.img-container .prev,
.img-container .next {
    transition: all 0.3s ease-in-out;
    transform: translateX(-30px);
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    text-shadow:
        -1px -1px 0 var(--bg),
        1px -1px 0 var(--bg),
        -1px 1px 0 var(--bg),
        1px 1px 0 var(--bg);
    border-radius: 0 3px 3px 0;
}

.img-container .next {
    transform: translateX(30px);
    right: 0;
    border-radius: 3px 0 0 3px;
}

.img-container .slide {
    animation: fade 1s;
    display: none;
    align-items: center;
    overflow: hidden;
}

.img-container .slide .title {
    transition: all 1s;
    transform: translateY(100px);
    z-index: 2;
    color: white;
    padding-left: min(12px, 2vw);
    line-height: min(26px, 4vw);
    border-left: 4px solid var(--highlight-color);
    font-size: min(2.1rem, 5vw);
    text-shadow: 2px 2px 5px black;
    position: absolute;
    bottom: 12%;
    left: 6%;
}

.img-container .show {
    display: flex;
}

.img-container .slide img {
    position: relative;
    transition: transform 0.3s ease-in;
    border-radius: 15px;
    height: auto;
    width: 100%;
    object-fit: contain;
    box-shadow: 0 8px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.2);
}

.img-container:hover {
    .slide img {
        transform: scale(1.1);
    }

    .title {
        transform: translateY(0);
    }

    .prev,
    .next {
        transform: translateX(0px);
    }
}

#projects-list {
    gap: 16px;
}

#projects-list>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    box-shadow: 0 8px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.2);
}

.project-container {
    display: flex;

    >img {
        transition: transform 0.3s ease-in;
    }
}


.project-container .name {
    padding-top: 8px;
    font-size: 24px !important;
    font-weight: 800;
    margin: 0px;
    color: var(--highlight-color);
}

.project-container img {
    padding: 4px;
    margin-block: 4px;
    padding-right: 16px;
    border-radius: 15px;
    height: 10rem;
    width: auto;
}

.project-container:hover img {
    transform: scale(1.05);
}

.project-container .detail {
    flex-grow: 1;
    flex-shrink: 1;
}

.interest-container .title {
    color: var(--highlight-color);
    margin-block: 8px;
}



#theme {
    background-color: var(--page-color);
    border-radius: 30%;
    padding: 6px;
    color: var(--text-color);
    float: left;
    font-size: min(46px, max(32px, 6vw));
    align-items: center;
    left: 2rem;
    bottom: 2rem;
    position: fixed;
    justify-content: center;
}

#theme-btn span:hover {
    color: var(--highlight-color);
    -webkit-user-select: none;
    user-select: none;
    font-size: min(48px, max(36px, 6.5vw));
    transition: 0.2s;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

#hint-box {
    border-radius: 100px;
    padding: 4%;
    padding-top: 4px;
    padding-bottom: 4px;
    bottom: 12px;
    z-index: 10;
    left: 50%;
    color: var(--text-color);
    transform: translate(-50%, -50%);
    background-color: var(--page-color);
    position: fixed;
}

footer {
    text-align: center;
}

/* Responsive Design */
@media screen and (max-width:768px) {

    :root * {
        transition: all 300ms ease;
    }

    main {
        width: 100vw;
    }

    p {
        font-size: 1.18rem;
        text-overflow: ellipsis;
    }

    p.contact {
        text-overflow: ellipsis;
        font-size: min(1.5rem, max(1.3rem, 5vw));
    }

    .contact {
        margin: .1rem;
    }

    #eng-name {
        font-size: max(0.8em, 1.8vw);
    }

    span {
        font-size: min(1rem, max(0.9rem, 3vw));
        text-overflow: ellipsis;
    }

    .info-box {
        margin: 0 !important;
        width: 100%;
    }

    .window {
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.2);
    }

    .self {
        flex-direction: row;
    }

    .self:hover .portrait {
        width: max(7.25rem, 22.5vw);
        height: max(7.25rem, 22.5vw);
    }

    .portrait {
        width: max(7.05rem, 22vw);
        height: max(7.05rem, 22vw);
        padding-bottom: 100%;
        margin: 0.2rem;
    }

    .border {
        margin-inline: 0.5vw;
        padding: 0.1vw;
    }

    #contacts {
        min-width: 0;
    }

    p.quote:hover {
        font-size: 1.2rem;
    }

    #right {
        gap: 1.4rem;
    }

    #about {
        margin-block: 0px;
    }

    .about {
        flex-direction: column;
        height: auto;
        gap: 1.4rem;
    }

    nav {
        margin-block: 0px;
    }

    .main-text {
        font-size: 1.1rem;
    }

    .timeline-item:hover .main-text {
        font-size: 1.16rem;
    }

    .sub-text {
        font-size: 0.84rem;
    }

    #menu {
        width: auto;
        margin: 0rem auto;
    }

    #menu li {
        width: min(150px, 30vw);
        height: min(30px, max(5vw, 24px));
        line-height: -5vw;
    }

    #menu a {
        font-size: 14px;
        font-size: 4.2vw;
        font-size: min(22px, max(4.2vw, 14px));
    }

    #hint-box {
        display: none;
    }

    .skills-section .title {
        font-size: 24px;
    }

    .skills-section:hover .title {
        font-size: 25px !important;
    }

    .skills-section .subtitle {
        font-size: 16px;
    }

    ul.skill-slider {
        justify-content: center;
        gap: 3vw !important;
        flex-wrap: wrap;
    }

    .progress-container {
        max-width: 70vw;

        .progress-outline-bar {
            max-width: 70vw;
        }

    }

    .circle {
        width: 6rem;
        height: 6rem;

        .progress-icon {
            top: 24px;
            left: 24px;
            width: 46px;
            height: 46px;
        }

        .inner {
            width: 4.5rem;
            height: 4.5rem;

            >p {
                font-size: 32px;
            }

            #small {
                top: 4px;
                font-size: 18px;
            }

        }
    }

    #experience-menu li {
        min-width: 20vw;
        max-width: 22vw;

        .btn {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: max(1.05rem, 3vw);
            margin: 4px;
        }
    }

    .project-container {
        flex-direction: column;

        .name,
        .description {
            text-align: center;
        }
    }

    .link {
        font-size: max(13.5px, 2.2vw);
    }

    .project-container img {
        margin: 0 auto;
        height: min(10rem, 25vw);
        padding-right: 4px;
        width: auto;
    }

    .img-container {
        .slide .title {
            transform: translateY(0);
        }

        .prev,
        .next {
            transform: translateX(0px);
        }
    }
}